html{
    box-sizing: border-box;
}

body{
    font-family: 'Overpass', sans-serif;
    line-height: 1.5;
    background-color: rgb(66, 123, 77);
}
h1,h2{
    font-family: 'Inknut Antiqua', sans-serif;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
h3{
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
}
p{
    font-size: 1rem;
    margin-bottom: 2rem;
}

/* Layout */

header{
    background: rgb(143, 143, 143);
    padding: 2rem;
}
h1{
    padding-bottom: 1rem;
}

h1:hover{
    color: white;
    transition-duration: 0.5s;
}

main{
    margin: 1rem;
}
section{
    background-color: white;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
section:hover{
    background: rgb(96, 96, 96);
    transition-duration: 0.3s;
}
p{
    color: black;
}
h2:hover, h3:hover, p:hover{
    color: white;
    transition-duration: 0.3s;
    text-shadow: 0px 2px 5px rgb(66, 123, 77);
}

a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 3px;
    background: rgb(128, 128, 128);
    border: 1px solid grey;
}
a:hover{
    background:rgb(66, 123, 77);
    color: white;
    transition-duration: 0.3s;
    border: 1px solid rgb(66, 123, 77);
}

@media (min-width: 600px){
    main > section{
        max-width: 960px;
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
    }
    header > h1, header > p{
        max-width: 960px;
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
    }
}
